extends /layouts/application

block append content
  #main-columns.row
    .col-sm-4.col-md-3.left.full-height
      ul.nav.nav-tabs
        li.active
          a(href="#search", data-toggle="tab") Search
        if signedIn
          li
            a(href="#history", data-toggle="tab") History
      .tab-content
        #search.tab-pane.fade.in.active
          form#search-form(role="form", action="/buffer", method = "GET")
            .form-group
              label(for="search-city") City
              select#search-city.form-control(disabled="disabled")
                option(selected="selected", name="City") Chelyabinsk
            .form-group
              label Filters
              - for (var i=0; i<types.length; i++)
                .checkbox
                  label
                  input(type="checkbox", name=types[i].name)
                  p= types[i].name
              .input
                label  Radius
                  br			
                  input(type="text", name="Radius") 			  
              button.btn.btn-default
                | Reset
              button.btn.btn-default(type="submit")
                | Buffer search
          .container-fluid
            .row
              h3 Results
        if signedIn
          #history.tab-pane.fade
    .col-sm-8.col-md-9.right.full-height
      .panel.panel-default.full-height(style="background:#eee")
        .panel-body
