extends /layouts/application

block append content
  #main-columns.row
    .col-sm-4.col-md-3.left.full-height
      ul.nav.nav-tabs
        li.active
          a(href="#search", data-toggle="tab") Search
        if signedIn
          li
            a(href="#history", data-toggle="tab") History
      .tab-content
        #search.tab-pane.fade.in.active
          form#search-form(role="form", action="/buffer", method = "GET")
            .form-group
              label(for="search-city") City
              select#search-city.form-control(disabled="disabled", name="City")
                option(selected="selected", value="chelyabinsk") Chelyabinsk
            .form-group
              label Filters
              - for (var i = 0; i < kinds.length; i++)
                .checkbox
                  label
                    input(type="checkbox", name="kinds[]", value=kinds[i])
                    = kinds[i].capitalize()
            .form-group
              label(for="buffer-radius") Radius
              input#buffer-radius.form-control(type="text", name="radius")
            button.btn.btn-default(type="submit") Apply
          
          .container-fluid
            h3 Results
            .row#results
            .row.error#results_error
        if signedIn
          #history.tab-pane.fade
    .col-sm-8.col-md-9.right.full-height
      .panel.panel-default.full-height(style="background:#eee")
        .panel-body
          canvas#canvas(width="300", height="300", style="float: right; border:1px solid black; background: white")
          | lng1
          input#lng1(value="56.519351837305")
          br
          | lat1
          input#lat1(value="52.992553710938")
          br
          br
          | lng2
          input#lng2(value="57.519351837305")
          br
          | lat2
          input#lat2(value="53.992553710938")
          br
          br
          input#calc(type="button", value="calc")
          br
          br

