extends /layouts/application

block append javascripts
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true")
  
  script(src="/javascripts/search/search.js")

block append content
  #main-columns.row
    .col-sm-4.col-md-3.left.full-height
      ul.nav.nav-tabs
        li.active
          a(href="#search", data-toggle="tab") Search
        if signedIn
          li
            a(href="#history", data-toggle="tab") History
      .tab-content
        #search.tab-pane.fade.in.active
          form#search-form(role="form", action="/buffer", method = "GET")
            .form-group
              label(for="search-city") City
              select#search-city.form-control(disabled="disabled", name="City")
                option(selected="selected", value="chelyabinsk") Chelyabinsk
            .form-group
              label Filters
              - for (var i = 0; i < kinds.length; i++)
                .checkbox
                  label
                    input(type="checkbox", name="kinds[]", value=kinds[i])
                    = kinds[i].capitalize()
            .form-group
              label(for="buffer-radius") Radius
              input#buffer-radius.form-control(type="text", name="radius")
            input#start-0(type="hidden", name="start[0]")
            input#start-1(type="hidden", name="start[1]")
            input#end-0(type="hidden", name="end[0]")
            input#end-1(type="hidden", name="end[1]")
            button.btn.btn-default(type="submit") Apply
          
          .container-fluid
            h3 Results
            .row#results
            .row.error#results_error
        if signedIn
          #history.tab-pane.fade
    .col-sm-8.col-md-9.right.full-height
      .panel.panel-default.full-height
        .panel-body.full-height
          #gmap.full-height(style="height:100%;width:100%;background:white")

