doctype html
html
  head
    link(rel="stylesheet", href="/css/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="/css/font-awesome/font-awesome.css")
    
    link(rel="stylesheet", href="/css/base.css")
    link(rel="stylesheet", href="/css/header.css")
    link(rel="stylesheet", href="/css/footer.css")
    link(rel="stylesheet", href="/css/main-page.css")
    block stylesheets
    
    script(src="/javascripts/libs/jquery.min.js")
    script(src="/javascripts/libs/underscore.min.js")
    script(src="/javascripts/libs/bootstrap.min.js")
    script(src="/javascripts/libs/backbone.min.js")
    script(src="/javascripts/libs/require.min.js")
    script(src="/javascripts/libs/haml.js")
    
    script(src="/javascripts/application.js")
    script(src="/javascripts/auth.js")
    script(src="/javascripts/paginator.js")
    block javascripts
    
    title= title || (controller + '/' + action)
    
    block head
  
  body
    include /layouts/header
    .container
      block content
    include /layouts/footer
