doctype html
html
  head
    link(rel="stylesheet", href="/css/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="/css/font-awesome/font-awesome.css")
    block stylesheets
    
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/auth.js")
    block javascripts
    
    title= title || (controller + '/' + action)
    
    block head
  
  body
    include /layouts/header
    .container
      block content
