extends /layouts/application

block append javascripts
  script(src="/javascripts/errors.js")

block append content
  .alert.alert-danger
    strong
      block error
  div(style="text-align: center")
    a.btn.btn-primary.btn-lg(href="/") Home
    | 
    a.btn.btn-default.btn-lg(href="javascript:window.history.back()") Back
