nav#header.navbar.navbar-default(role="navigation")
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/", style="color: #428bca")
        i.fa.fa-lg.fa-globe
        | &nbsp;TravelFoot dev
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/sights") Sights
      ul.nav.navbar-nav.navbar-right
        if signedIn
          include /users/user_popup
        else
          include /users/sign_in_form
