node_modules/
npm-debug.log

*.map

.idea
.idea/
.idea/*

public/uploads/*
!public/uploads/.gitkeep

logs/*
!logs/.gitkeep

tmp/*
!tmp/.gitkeep

public/javascripts/*
!public/javascripts/libs
!public/javascripts/.gitkeep

public/css/*
!public/css/.gitkeep

dump/
