- var img = sight.get('images')[0]
- img = img && (img.url + "-small." + img.ext) || "/images/nophoto-small.png"
.body{style: "width: 300px"}
  %img{src: img, style: "float: left; margin:0 10px 10px 0"}
  %h5
    = sight.get('name')
  %p
    = sight.get('description')
