li.dropdown
  button.btn.btn-default.navbar-btn.dropdown-toggle(href="javascript:void(0)", data-toggle="dropdown")
    .image
      img(src=gravatarUrl(currentUser, {size: 34}))
    = currentUser.email
    | &nbsp;
    span.caret
  ul.dropdown-menu
    li.disabled
      a.menuitem(href="/profile")
        | Profile
    li.disabled
      a.menuitem(href="/sessions")
        | Sessions
    li.divider
    li
      a.menuitem(href="/signout")
        | Sign out
