mixin sightListInfo(sight)
  ul.fa-ul
    li
      i.fa.fa-li.fa-building-o
      = sight.formatedAddress()
    li
      i.fa.fa-li.fa-globe
      = sight.coord.join(", ")
    if sight.tags.length
      li
        i.fa.fa-li.fa-tags
        - for (var i = 0; i < sight.tags.length; i++)
          - tag = sight.tags[i]
          //a(href="/sights", params_safe="true", params_add="tag="+tag._id)=tag.value
          =tag.value
          if i != sight.tags.length - 1
            | ,&nbsp;
